[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
redis = ">=3"
pypssl = "*"
pypdns = "*"
pyeupi = "*"
dnspython = "*"
beautifulsoup4 = "*"
pyipasnhistory = {editable = true,git = "https://github.com/D4-project/IPASN-History.git/",subdirectory = "client"}
pybgpranking = {editable = true,git = "https://github.com/D4-project/BGP-Ranking.git/",subdirectory = "client"}
flask = "*"
flask-bootstrap = "*"
flask-mail = "*"
flask-wtf = "*"
gunicorn = {extras = ["gevent"],version = "*"}
pyurlabuse = {editable = true,path = "./client"}
pyfaup = {editable = true,git = "https://github.com/stricaud/faup.git/",subdirectory = "src/lib/bindings/python/"}
pylookyloo = {editable = true,git = "https://github.com/CIRCL/lookyloo.git/",subdirectory = "client"}

[requires]
python_version = "3.6"
