{% raw %}

<uib-accordion>
  <div uib-accordion-group is-open=true>
    <uib-accordion-heading>{{url}}</uib-accordion-heading>
    <uq-phishtank data="url"></uq-phishtank>
    <uq-virustotal data="url"></uq-virustotal>
    <uq-googlesafebrowsing data="url"></uq-googlesafebrowsing>
    <uq-eupi data="url"></uq-eupi>
    <uq-urlquery data="url"></uq-urlquery>
    <uq-ticket data="url"></uq-ticket>
    <uq-whois data="url"></uq-whois><br>

    <div ng-repeat="ip in ipv4">
      <uib-accordion>
        <div uib-accordion-group is-open=true>
          <uib-accordion-heading>{{ip}}</uib-accordion-heading>
          <uq-phishtank data="ip"></uq-phishtank>
          <!-- <li><uq-virustotal data="ip"></uq-virustotal></li> -->
          <uq-bgpranking data="ip"></uq-bgpranking>
          <!-- <uq-urlquery data="ip"></uq-urlquery> -->
          <uq-pdnscircl data="ip"></uq-pdnscircl>
          <uq-psslcircl data="ip"></uq-psslcircl>
          <!-- <uq-ticket data="ip"></uq-ticket> -->
          <uq-whois data="ip"></uq-whois>
        </div>
      </uib-accordion>
    </div>

    <div ng-repeat="ip in ipv6">
      <uib-accordion>
        <div uib-accordion-group is-open=true>
        <uib-accordion-heading>{{ip}}</uib-accordion-heading>
          <uq-phishtank data="ip"></uq-phishtank>
          <!-- <li><uq-virustotal data="ip"></uq-virustotal></li> -->
          <uq-bgpranking data="ip"></uq-bgpranking>
          <!-- <uq-urlquery data="ip"></uq-urlquery> -->
          <uq-pdnscircl data="ip"></uq-pdnscircl>
          <!-- <uq-ticket data="ip"></uq-ticket> -->
          <uq-whois data="ip"></uq-whois>
        </div>
      </uib-accordion>
    </div>
  </div>
</uib-accordion>

{% endraw %}
